.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.titleRegister {
    font-size: 56px;
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.register-form-input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.register-form-register-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    align-self: center
}
